.body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(18, 18, 18);
}

.main-container {
  display: flex;
  /* border: 2px solid rgb(255, 255, 255); */
  height: 30rem;
  width: 90%;
  justify-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5em;
}
.hr-line {
  margin-bottom: 0;
}
.child-left {
  width: 45%;
  text-align: center;
  background-color: rgb(18, 18, 18);
}
.child-right h1 {
  font-size: 4rem;
  font-family: "Courier New", Courier, monospace;
  /* font-style: italic; */
  background-color: rgb(18, 18, 18);
}
.para {
  font-size: 1.5rem;
  justify-content: center;
}
.pp {
  height: 100%;
  width: 100%;
  /* border: 1px solid wheat; */
  /* box-shadow: 0 0 5px 5px #FF7722; */
}
.profile_pic {
  height: 70%;
  width: 55%;
  filter: grayscale(0.8);
  transition: 0.4s;
  justify-content: center;
  border-radius: 50%;
  margin-top: 8%;
  box-shadow: 0 0 5px 5px #ff7722;
  cursor: pointer;
}
.profile_pic:hover {
  filter: grayscale(0);
}
.child-right {
  width: 45%;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  /* border: 2px solid wheat; */
  line-height: 4;
  overflow: inherit;
}
.cr-content h1 {
  font-size: 4rem;
  font-weight: bold;
}

.linkdin {
  border-radius: 50%;
}
.cr-content p {
  line-height: 1.5;
}
.links {
  display: flex;
  width: 100%;
  justify-content: center;
  justify-content: space-between;
  /* border: 2px solid wheat ; */
}
.links a {
  font-size: 1.8rem;
  filter: grayscale(1);
  /* color: aliceblue; */
}
.links a:hover {
  color: #ff7722;
  filter: grayscale(0);
}
.fac {
  color: aliceblue;
}
.whatsapp {
  color: aliceblue;
}
.copyright {
  text-align: center;
}

@media (max-width: 700px) {
  .main-container {
    width: 100%;
    display: grid;
    margin: 0;
    gap: 2rem;
    margin-top: 2rem;
  }
  .child-left {
    height: 12rem;
    width: 80%;
  }
  .child-right {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .cr-content {
    text-align: center;
  }
  .typewriter {
    line-height: 0.5;
    font-size: 5px;
  }
  .profile_pic {
    height: 90%;
  }
  .links {
    width: 100%;
    margin-top: -6rem;
    justify-content: center;
    justify-content: space-evenly;
  }
  .para {
    padding: 1em;
    font-size: 1rem;
  }
}
@media (max-width: 365px) {
  .links {
    margin-top: 0rem;
  }
  .links a {
    font-size: 1rem;
  }
  .para {
    /* padding: 1em; */
    font-size: 1rem;
  }
}
@media (max-height: 670px) {
  .links a {
    font-size: 1rem;
  }
  .links {
    background-color: rgb(18, 18, 18);
    margin: 0%;
  }
}
